@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');


body {
  background-image: url("../img/bg_pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.tartalom {
  max-width: none !important;
}

.tartalom h1, .tartalom h2 {
  font-family: "Lobster", cursive;
}

.tartalom p {
  text-indent: 15px;
}

h1 {
  font-size: 7em !important;
  font-variant: small-caps !important;
}

h2 {
  font-size: 3em !important;
}

.pizza-fajtak ul {
  list-style-image: url('../img/pizza_icon.png');
}

.pizza-fajtak ul li {
  line-height: 30px;
}

.pizza-fajtak ul li span {
  color: #414a04;
  font-weight: bold;
  text-transform: uppercase;
}

.keretezett {
  border: 8px double #5d6a09;
  background-color: #ffeccb;
  padding: 10px; /* nem kéri */
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px !important;
  }
}

/* ------------------- */
/* @media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
} */